.antiDelete-deleted {
  background-color: var(--message-automod-background-default);

  &:hover {
    background-color: var(--message-automod-background-hover);
  }

  &::before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2px;
    background-color: var(--status-danger);
  }
}

.antiDelete-footer span[class*="-timestamp"] {
  margin-left: 0;
}

.antiDelete-edit {
  opacity: 0.5;
}
